name: 'SelfHosted FileHandler Workflow'

on:
  push:
    paths: 
      - 'SelfHosted/src/Glasswall.FileHandler/**'
    
  workflow_dispatch:
    paths: 
      - 'SelfHosted/src/Glasswall.FileHandler/**'


defaults:
  run:
    working-directory: './SelfHosted/src/Glasswall.FileHandler'

jobs:
  build:
    name: 'Build FileHandler' 
    runs-on: self-hosted
    if: contains(toJson(github.event.commits), '***NO_CI***') == false && contains(toJson(github.event.commits), '[ci skip]') == false && contains(toJson(github.event.commits), '[skip ci]') == false 
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1
      with:
        nuget-version: 5.x
     
    - name: Restore NuGet Packages
      run: nuget restore Glasswall.FileHandler.sln
 
    - name: Build SP Solution
      run: msbuild Glasswall.FileHandler.sln /p:Configuration=Release 

    - name: Package SP Solution
      run: msbuild Glasswall.FileHandler.sln /t:Package /p:Configuration=Release /p:OutputPath=/home/runner/work/gp-sharepoint-plugins/gp-sharepoint-plugins/SelfHosted/src/Glasswall.FileHandler/artifacts

    - uses: actions/upload-artifact@v2
      with:
        name: SelfHostedFileHandler
        path: /home/runner/work/gp-sharepoint-plugins/gp-sharepoint-plugins/SelfHosted/src/Glasswall.FileHandler/artifacts/*.wsp