name: 'SelfHosted FileHandler Workflow'

on:
  push:
    paths: 
      - 'SelfHosted/src/Glasswall.FileHandler/**'
    
  workflow_dispatch:
    paths: 
      - 'SelfHosted/src/Glasswall.FileHandler/**'


defaults:
  run:
    working-directory: './SelfHosted'

env:
  SOLUTION_FILE: ./src/Glasswall.FileHandler/Glasswall.FileHandler.sln
  INSTALLER_FILE_FOLDER: ./installer
  ARTIFACTS_DIR: ./src/Glasswall.FileHandler/artifacts

jobs:
  build:
    name: 'Build FileHandler' 
    runs-on: self-hosted
    if: contains(toJson(github.event.commits), '***NO_CI***') == false && contains(toJson(github.event.commits), '[ci skip]') == false && contains(toJson(github.event.commits), '[skip ci]') == false
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1
      with:
        nuget-version: 5.x
     
    - name: Restore NuGet Packages
      run: nuget restore ${{ env.SOLUTION_FILE }}
 
    - name: Build SP Solution
      run: msbuild ${{ env.SOLUTION_FILE }} /p:Configuration=Release 

    - name: Package SP Solution
      run: msbuild ${{ env.SOLUTION_FILE}} /t:Package /p:Configuration=Release /p:OutputPath=${{ env.ARTIFACTS_DIR }}

    - uses: actions/upload-artifact@v2
      with:
        name: SelfHostedFileHandler
        path: ${{ env.ARTIFACTS_DIR }}/*.wsp

    - uses: actions/upload-artifact@v2
      with:
        name: SelfHostedFileHandler
        path: ${{ env.INSTALLER_FILE_FOLDER }}/*.ps1

  deploy:
    needs: build
    name: 'Deploy FileHandler'
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
  
    - name: 'Download artifacts'
      uses: actions/download-artifact@v2
      with:
        name: SelfHostedFileHandler
        path: ${{ env.ARTIFACTS_DIR }}

    - name: Add SP PS Cmdlets
      run: powershell Add-PsSnapin Microsoft.SharePoint.PowerShell

    - name: Deploy SP Solution Package
      run: powershell InstallFileHandler.ps1