name: 'SelfHosted FileHandler Workflow'

on:
  push:
    paths: 
      - 'SelfHosted/src/Glasswall.FileHandler/**'
    
  workflow_dispatch:
    paths: 
      - 'SelfHosted/src/Glasswall.FileHandler/**'


defaults:
  run:
    working-directory: './SelfHosted'

env:
  SOLUTION_FILE: ./src/Glasswall.FileHandler/Glasswall.FileHandler.sln
  INSTALLER_FOLDER: /SelfHosted/installer
  ARTIFACTS_DIR_ABSOLUTE: /home/runner/work/gp-sharepoint-plugins/gp-sharepoint-plugins/SelfHosted/artifacts
  ARTIFACTS_DIR_RELATIVE: ./artifacts

jobs:
  build:
    name: 'Build FileHandler' 
    runs-on: self-hosted
    if: contains(toJson(github.event.commits), '***NO_CI***') == false && contains(toJson(github.event.commits), '[ci skip]') == false && contains(toJson(github.event.commits), '[skip ci]') == false
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1
      with:
        nuget-version: 5.x
     
    - name: Restore NuGet Packages
      run: nuget restore ${{ env.SOLUTION_FILE }}
 
    - name: Build SP Solution
      run: msbuild ${{ env.SOLUTION_FILE }} /p:Configuration=Release 

    - name: Package SP Solution
      run: msbuild ${{ env.SOLUTION_FILE}} /t:Package /p:Configuration=Release /p:OutputPath=${{ env.ARTIFACTS_DIR_ABSOLUTE }}

    - name: Upload WSP
      uses: actions/upload-artifact@v2
      with:
        name: SelfHostedFileHandler
        path: ${{ env.ARTIFACTS_DIR_ABSOLUTE }}/*.wsp

    - name: Upload Installer Files
      uses: actions/upload-artifact@v2
      with:
        name: SelfHostedFileHandler
        path: ${{ github.workspace }}/${{ env.INSTALLER_FOLDER }}/*.ps1

  deploy:
    needs: build
    name: 'Deploy FileHandler'
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
  
    - name: 'Download artifacts'
      uses: actions/download-artifact@v2
      with:
        name: SelfHostedFileHandler
        path: ${{ env.ARTIFACTS_DIR_ABSOLUTE }}

    - name: Deploy SP Solution Package
      run: |
        Add-PsSnapin Microsoft.SharePoint.PowerShell
        ${{ env.ARTIFACTS_DIR_ABSOLUTE }}/InstallFileHandler.ps1 ${{ env.ARTIFACTS_DIR_ABSOLUTE }}

  e2e:
    needs: deploy
    name: 'E2E FileHandler Test' 
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './SelfHosted/selfhosted-filehandler-test'
    environment: GW-DEV
    env:
      SP_URL: ${{ secrets.SPS_URL }}
      
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Use Node.js 15.x
      uses: actions/setup-node@v1
      
    - run: npm install -g @getgauge/cli
      name: Install Gauge

    - uses: microsoft/playwright-github-action@v1

    - run: npm install
      name: Install dependencies

    - run: npm run test-ci
      name: Run E2E tests