name: 'SelfHosted FileHandler Release Workflow'

on:
  release:
    types: [published]
  
defaults:
  run:
    working-directory: './SelfHosted'

env:
  SOLUTION_FILE: ./src/Glasswall.FileHandler/Glasswall.FileHandler.sln
  INSTALLER_DIR_ABSOLUTE: /home/runner/work/gp-sharepoint-plugins/gp-sharepoint-plugins/SelfHosted/installer
  ARTIFACTS_DIR_ABSOLUTE: /home/runner/work/gp-sharepoint-plugins/gp-sharepoint-plugins/SelfHosted/artifacts
  ZIP_FILE_NAME: GWSharePointSolution.zip
  
jobs:
  build:
    name: 'Build FileHandler' 
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1
      with:
        nuget-version: 5.x
     
    - name: Restore NuGet Packages
      run: nuget restore ${{ env.SOLUTION_FILE }}
 
    - name: Build SP Solution
      run: msbuild ${{ env.SOLUTION_FILE }} /p:Configuration=Release 

    - name: Package SP Solution
      run: msbuild ${{ env.SOLUTION_FILE}} /t:Package /p:Configuration=Release /p:OutputPath=${{ env.ARTIFACTS_DIR_ABSOLUTE }}

    - name: Copy installer files      
      run: Copy-Item '${github.workspace}/SelfHosted/installer/*.ps1' '${env:ARTIFACTS_DIR_ABSOLUTE}}/'
      shell: powershell
 
    - name: Zip artifacts
      run: Compress-Archive -Path '${env:ARTIFACTS_DIR_ABSOLUTE}/*' -DestinationPath '${env:ARTIFACTS_DIR_ABSOLUTE}/${env:ZIP_FILE_NAME}'
      shell: powershell
      
    - name: Release
      uses: fnkr/github-action-ghr@v1
      env:
        GHR_PATH: '${{ env.ARTIFACTS_DIR_ABSOLUTE }}/${{env.ZIP_FILE_NAME}}'
        GITHUB_TOKEN: ${{ github.token }}